<section class="relative h-full w-screen mb-36">
    <div class="bg-emerald-700 absolute inset-0 ml-0 md:ml-0 lg:ml-[30%] h-full z-[-4]"></div>
    
    <%- include('../components/molecules/videoplayer-molecule.ejs', {src: 'https://firebasestorage.googleapis.com/v0/b/storetry-ead11.appspot.com/o/video.mp4?alt=media&token=171866b4-cd88-42b9-9e4e-bb0d98390607'}) %>

    <div class="flex md:flex flex-col lg:grid grid-cols-2 px-5 md:px-20 lg:px-40">
        <div class="relative py-0 md:py-0 lg:py-20 flex justify-center items-center mb-[-50%] md:mb-[-50%] lg:mb-0">
            <img class="w-full md:w-full lg:w-fit h-fit brightness-90" src="https://globalplanner.in/assets/frantweb/assets/img8.jpg">
            <div class="absolute inset-0 flex justify-center items-center">
                <i class=" bg-emerald-950 rounded-full relative mt-[-50%] md:mt-[-50%] lg:mt-0 fa fa-play-circle material-symbols-outlined text-white text-[500%] hover:cursor-pointer flex justify-center items-center" aria-hidden="true" id="play-button">
                    <i class=" absolute inset-0 fa fa-play-circle material-symbols-outlined text-white text-10xl hover:cursor-pointer animate-ping" aria-hidden="true"></i>
                </i>
            </div>        
        </div>
        <div class="w-full h-fit pt-24 z-20 bg-emerald-700">
            <div class="w-full h-fit mb-12">
                <% const data = {tagTitle: 'CALLBACK FOR MORE', tagColor: 'text-white', dashColor: 'bg-white'} %>
                <%- include('../components/molecules/section-tag-molecule.ejs', {data}) %>
                <div class="mb-4">
                    <h2 class="text-5xl text-white font-bold">GO TRAVEL. DISCOVER. REMEMBER US!!</h2>
                </div>
                <div>
                    <p class="text-white">Let us be your compass to unforgettable destinations, where every step you take brings you closer to the magic of discovery. Travel with us and remember the joy of experiencing new sights, tastes, and moments that connect us all as fellow explorers of this incredible planet.</p>
                </div>                        
            </div>
            <div class= "w-full h-fit grid grid-cols-2 mb-12">
                <div class="border-b-2 border-r-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="w-full h-full hover:translate-y-[-10px] duration-1000 object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon1.png">
                    </div>
                    <div class="flex flex-col w-full hover:translate-y-[-10px] duration-1000">
                        <span class="flex justify-center items-center text-lg md:text-3xl lg:text-3xl font-black">
                            <span>500</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-xs md:text-base lg:text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
                <div class=" border-l-2 border-b-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="w-full h-full hover:translate-y-[-10px] duration-1000 object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon2.png">
                    </div>
                    <div class="flex flex-col w-full hover:translate-y-[-10px] duration-1000">
                        <span class="flex justify-center items-center text-lg md:text-3xl lg:text-3xl font-black">
                            <span>250</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-xs md:text-base lg:text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
                <div class=" border-t-2 border-r-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="w-full h-full hover:translate-y-[-10px] duration-1000 object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon3.png">
                    </div>
                    <div class="flex flex-col w-full hover:translate-y-[-10px] duration-1000">
                        <span class="flex justify-center items-center text-lg md:text-3xl lg:text-3xl font-black">
                            <span>15</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-xs md:text-base lg:text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
                <div class=" border-l-2 border-t-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="w-full h-full hover:translate-y-[-10px] duration-1000 object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon4.png">
                    </div>
                    <div class="flex flex-col w-full hover:translate-y-[-10px] duration-1000">
                        <span class="flex justify-center items-center text-lg md:text-3xl lg:text-3xl font-black">
                            <span>10</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-xs md:text-base lg:text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
            </div>
            <div class=" w-full h-fit flex flex-row p-8 mb-[-50px] bg-white gap-5 drop-shadow-lg">
                <div>
                    <img class="w-full h-full hover:translate-y-[-10px] duration-500 object-scale-down" src="https://demo.bosathemes.com/html/travele/assets/images/icon5.png">
                </div>
                <div class="flex flex-col justify-center gap-4">
                    <h4 class="w-full text-base md:text-lg lg:text-lg font-bold">Our 24/7 Emergency Phone Services</h4>
                    <h3 class="w-full text-lg md:text-3xl lg:text-3xl font-black text-emerald-800">Call: 123-456-7890</h3>
                </div>
            </div>

        </div>
    </div>
</section>
