<section class="relative h-full w-screen">
    <div class="bg-emerald-700 absolute inset-0 ml-[30%] h-full z-[-4]"></div>
    <div class="grid grid-cols-2 px-40">

        <div class="relative py-20 flex justify-center items-center">
            <img class=" w-fit h-fit" src="https://globalplanner.in/assets/frantweb/assets/img8.jpg">
            <div class="absolute inset-0 flex justify-center items-center">
    
                <i class="fa fa-play-circle material-symbols-outlined text-white text-[1000%] hover:cursor-pointer" aria-hidden="true"></i>

            </div>
                

        </div>
        <div class="w-full h-fit pt-24">
            <div class="w-full h-fit mb-12">
                <%- include('../components/molecules/section-tag-molecule.ejs') %>
                <div class="mb-4">
                    <h2 class="text-5xl text-white font-bold">GO TRAVEL. DISCOVER. REMEMBER US!!</h2>
                </div>
                <div>
                    <p class="text-white">Let us be your compass to unforgettable destinations, where every step you take brings you closer to the magic of discovery. Travel with us and remember the joy of experiencing new sights, tastes, and moments that connect us all as fellow explorers of this incredible planet.</p>
                </div>
                
                

            </div>
            <div class= "w-full h-fit grid grid-cols-2 mb-12">
                <div class="border-b-2 border-r-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon1.png">
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="flex justify-center items-center text-3xl font-black">
                            <span>500</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
                <div class=" border-l-2 border-b-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon2.png">
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="flex justify-center items-center text-3xl font-black">
                            <span>250</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
                <div class=" border-t-2 border-r-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon3.png">
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="flex justify-center items-center text-3xl font-black">
                            <span>15</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
                <div class=" border-l-2 border-t-2 flex flex-row p-6 text-white">
                    <div class="w-14 h-14">
                        <img class="object-scale-down"  src="https://demo.bosathemes.com/html/travele/assets/images/icon4.png">
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="flex justify-center items-center text-3xl font-black">
                            <span>10</span>
                            K+
                        </span>
                        <span class="flex justify-center items-center text-base">
                            Satisfied Clients
                        </span>
                    </div>
                </div>
            </div>
            <div class=" w-full h-fit flex row p-8 mb-[-50px] bg-white gap-5">
                <div>
                    <img src="https://demo.bosathemes.com/html/travele/assets/images/icon5.png">
                </div>
                <div class="flex flex-col justify-center gap-4">
                    <h4 class="w-full text-lg font-bold">Our 24/7 Emergency Phone Services</h4>
                    <h3 class="w-full text-3xl font-black text-emerald-800">Call: 123-456-7890</h3>
                </div>
            </div>

        </div>
    </div>
</section>