
<div class="swiper w-full">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper min-h-screen bg-red-300">
    <!-- Slides -->
    <% carouselData.forEach(data => { %>
      <div class="swiper-slide">
        <div>
        <div class=' <%= data.style %>'>
          <div class="w-11/12 md:w-3/5 mx-auto flex-col space-y-5 text-center">
            <div class="text-4xl md:text-5xl lg:text-7xl font-bold text-white uppercase">
              <%= data.mainText %>
            </div>
            <p class="text-white text-md md:text-xl w-3/5 mx-auto sm:w-full">
              <%= data.supportingText %>
            </p>
            <div>
              <%- include('../components/atoms/cta-book-now.ejs', 
                {
                  content: "Continue Reading", 
                  redirect: "#", 
                  style: 'shadow-inner shadow-emerald-900 text-white font-medium md:font-bold px-6 py-4 rounded-md bg-emerald-700 mt-4 uppercase'
                }) 
              %>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% }) %>
    
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev text-white"></div>
  <div class="swiper-button-next  text-white"></div>

</div>