<div class=" lg:px-[13%] 2xl:px-[20%] xxl:h-full sm:w-full flex flex-col justify-center items-center bg-white mb-20">
  <div class="">
    <!-- INTRODUCTION TEXT-->
    <div class="flex items-center justify-center mt-10">
      <% const data = {tagTitle: 'EXPLORE GREAT PLACES', tagColor: 'text-emerald-700', dashColor: 'bg-emerald-700'} %>
      <%- include('../components/molecules/section-tag-molecule.ejs', {data}) %>
    </div>
      <p class="mb-4 font-raleway text-6xl font-black text-midnight text-center">
        POPULAR PACKAGES
      </p>
      <p class="leading-6 mb-12 overflow-wrap break-word text-neutral-800 text-center">
        Mollit voluptatem perspiciatis convallis elementum corporis quo veritatis aliquid blandit, blandit torquent,<br> odit placeat.Adipiscing repudiandae eius cursus? Nostrum magnis maxime curae placeat.
      </p>
  </div>
  
  <div class=" flex flex-wrap justify-center items-center  ">
    <% places.forEach((place) => { %>
      <%- include('../components/molecules/card-popular.ejs', {place}); %>
    <% }); %>
  </div>

  <div class="text-center mt-12 mb-6">
    <%- include('../components/atoms/cta-book-now.ejs', {content: "View All Packages", redirect: "#", style: "shadow-inner shadow-emerald-900 text-white font-medium md:font-bold px-6 py-4 rounded-md bg-emerald-700 mt-4 uppercase"})%>
  </div>
</div> 
