

<div class = "bg-blue-400 h-full pt-[10%] pb-[10%] ">
    <div class = " grid grid-cols-2 mx-[5%] md:mx-[10%] lg:mx-[10%] ">
        <div class = "w-full justify-between flex flex-col space-y-5  bg-yellow-200">
            <div class = "bg-red-300">
                
                <h1 class="text-base">HOLIDAY SPECIAL 25% OFF ! </h1>
            </div>
            <div class = "bg-red-300">
                <h1 class="text-5xl">HOLIDAY SPECIAL 25% OFF !</h1>
            </div>
            <div class = "bg-red-300">
                <h1 class="">Hello</h1>
            </div>
            <div class = "bg-red-300">
                <div class="mx-auto">
                    <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
                    <input type="email" name="email" id="email" placeholder="Your Email Address" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                </div>
            </div>
            <div class = "bg-red-300">
                <h1 class="">Hello</h1>
            </div>
        </div>
        <div class = "bg-orange-900">
            <h1> Hello</h1>
        </div>
    </div>
</div>