


<div class = "bg-blue-400 h-full pt-[5%] pb-[5%] bg-[url('https://demo.bosathemes.com/html/travele/assets/images/img16.jpg')] bg-cover bg-no-repeat bg-blend-multiply ">
    <div class="flex flex-wrap mx-[15%]">
        <div class="w-full  px-8 md:w-full sm:w-1/2 lg:w-7/12 ">
            <div class = "w-full justify-between flex flex-col space-y-5 text-white">
                <div class = "mb-5 flex flex-row gap-3">
                    <div class="w-22 flex items-center">
                        
                        <div class="h-1 w-20 bg-white"></div>
                    </div>
                    <h1 class="text-base">HOLIDAY PACKAGE OFFER </h1>
                </div>
                <div class = "">
                    <h1 class="text-5xl font-bold "> HOLIDAY SPECIAL 25% OFF !</h1>
                </div>
                <div class = "pb-8">
                    <h1 class="text-base">Sign up now to recieve hot special offers and information about the best tour packages, updates and discounts !!</h1>
                </div>
                <div class = "">
                    <div class="mx-auto">
                      

                      <form class = "relative border border-white mb-5 ">
                        <input type="email" name="email" id="email" placeholder="Your Email Address" required class="w-full  px-3 py-6 placeholder-gray-300   rounded-md  bg-transparent focus:outline-none" /> 
                        <input type="submit" name="signup" value="SIGN UP NOW!" class=" w-fit h-fit  text-white absolute top-2 right-2 px-2 py-4 uppercase rounded-sm bg-emerald-700 font-bold items-end hidden sm:inline-block ">
                      </form>
                      <input type="submit" name="signup" value="SIGN UP NOW!" class="w-fit h-fit text-white px-2 py-4 uppercase rounded-sm bg-emerald-700 font-bold sm:hidden w-full">

                    </div>
                </div>
                <div class = "">
                    <h1 class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Eaque adipiscing, luctus eleifend temporibus occaecat luctus eleifend tempo ribus.</h1>
                </div>
            </div>
        </div>
      </div>
      
</div>