<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<div class="px-4 lg:px-8 xl:px-16">
  <div class="swiper max-w-7xl mx-auto h-full">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper lg:pt-16 md:pt-12 sm:pt-8 pt-8">
      <!-- Slides -->
      <div class="swiper-slide h-full">
        <div class="lg:p-x8 bg-white px-6 py-4 sm:py-2 pb-8">
        <figure class="mx-auto max-w-2xl px-4 sm:px-8">
          <p class="sr-only">5 out of 5 stars</p>
          <div class="flex gap-x-1 text-indigo-600">
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
          </div>
          <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
            <p>“Wow, New Zealand is an adventurer's paradise! The Adventure package offered by this travel agency took us on a thrilling journey. Highly recommend this travel agency for those seeking an adrenaline-pumping experience in New Zealand!”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img class="h-12 w-12 rounded-full bg-gray-50" src="https://i.pinimg.com/564x/c8/9f/c6/c89fc672200b2fddad49338919efdfb1.jpg" alt="">
            <div class="text-sm leading-6">
              <div class="font-semibold text-gray-900">Joe Goldberg</div>
              <div class="mt-0.5 text-gray-600">Frequent Horizon Hopper</div>
            </div>
          </figcaption>
        </figure>
        </div>
      </div>
      <div class="swiper-slide h-full">
        <div class="lg:p-x8 bg-white px-6 py-4 sm:py-2 pb-8">
        <figure class="mx-auto max-w-2xl px-4 sm:px-8">
          <p class="sr-only">5 out of 5 stars</p>
          <div class="flex gap-x-1 text-indigo-600">
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
          </div>
          <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
            <p>“Our trekking experience in Singapore was unexpectedly delightful! The guides were fantastic, sharing insights about the flora and fauna along the way. If you love nature and trekking, this package is a must-try in Singapore!”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img class="h-12 w-12 rounded-full bg-gray-50" src="https://i.pinimg.com/564x/a6/2a/e2/a62ae2c1b4ead9c57c0c58806260cefd.jpg" alt="">
            <div class="text-sm leading-6">
              <div class="font-semibold text-gray-900">Love Quinn</div>
              <div class="mt-0.5 text-gray-600">Star Horizon Hopper</div>
            </div>
          </figcaption>
        </figure>
        </div>
      </div>
      <div class="swiper-slide h-full">
        <div class="lg:p-x8 bg-white px-6 py-4 sm:py-2 pb-8">
        <figure class="mx-auto max-w-2xl px-4 sm:px-8">
          <p class="sr-only">5 out of 5 stars</p>
          <div class="flex gap-x-1 text-indigo-600">
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="#1C9358" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
          </div>
          <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
            <p>“Norway's natural beauty left us in awe, and this travel agency's Camp Fire, Off Road, Exploring package was the best way to experience it! Norway is a true gem, and this travel package made it an unforgettable journey!”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img class="h-12 w-12 rounded-full bg-gray-50" src="https://i.pinimg.com/564x/15/89/1b/15891bba9aa2976539f30fef6a5a4dcf.jpg" alt="">
            <div class="text-sm leading-6">
              <div class="font-semibold text-gray-900">Rhys Montrose</div>
              <div class="mt-0.5 text-gray-600">Horizon Hopper</div>
            </div>
          </figcaption>
        </figure>
        </div>
      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="flex justify-between px-4 sm:px-8 pt-4 lg:pt-0">
      <div class="swiper-button-prev w-10">
      </div>
      <div class="swiper-button-next min-w-20">
      </div>
    </div>
    
  
  </div>
</div>




