<div class="w-full h-full border border-2 border-solid border-black border-opacity-20 flex flex-col gap-1 items-center justify-center p-1 hover:-translate-y-2 transition-all duration-500">
    <%- include('../atoms/adventure-icon-atom.ejs', category) %>   
    <%- include('../atoms/adventure-title-atom.ejs', category) %> 
    <%- include('../atoms/adventure-destination-atom.ejs', category) %>    
</div>