<div class = "bg-gray-500 h-full pt-[15%] pb-[5%] bg-[url('https://demo.bosathemes.com/html/travele/assets/images/inner-banner.jpg')] bg-cover bg-no-repeat bg-center bg-blend-multiply   ">
    <p class =" 2xl:text-7xl lg:text-7xl md:text-7xl pb-5 text-5xl text-center text-white font-bold  ">Booking</p>
</div>