<div class="py-2 w-full px-10 md:w-4/5 mx-auto">
  <div class="w-full mx-auto grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-2 bg-emerald-600 bg-opacity-10 px-2 py-2 border-[1px] border-white rounded-md">
    <%- include('../atoms/filter-atom.ejs', {
      title: 'Destination',
      options: ['Maldives', 'Africa', 'Egypt', 'London']
    }) %>
    <%- include('../atoms/filter-atom.ejs', {
      title: 'Adventure Type',
      options: ['Adventure', 'Trekking', 'Camp fire', 'Off road', 'Exploring']
    }) %>
    <%- include('../atoms/filter-atom.ejs', {
      title: 'Travel Month',
      options: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    }) %>
    <%- include('../atoms/filter-atom.ejs', {
      title: "Duration",
      options: ['2 days', '5 days', '1 week', '2 Weeks']
    }) %>
    <div class="w-full  sm:col-span-full sm:w-1/3 lg:w-full mt-2 md:mt-0 mx-auto lg:col-span-1">
      <button class="bg-emerald-700 w-full h-full font-medium rounded-md px-2 py-3 text-white sm:col-span-full md:col-span-full lg:col-span-1 shadow-inner shadow-emerald-900 ">FIND TOURS</button>
    </div>
  </div>
</div>
