<header id="main-header"  class="flex py-2 w-screen fixed top-0 left-0 right-0 z-[100]">
  <div class="grid grid-cols-3 w-full">
    <%- include('../atoms/logo.ejs') %>
    <%- include('../atoms/nav-menu.ejs') %>
    <%- include('../atoms/book-now-cta-atom.ejs') %>
    <!-- <%- include('../atoms/cta-book-now.ejs', {content: "Book Now", redirect: "/booking", style: 'text-white px-5 py-2 rounded-sm bg-emerald-700 font-bold'}) %> -->
  </div>
</header>