<header id="main-header"  class="fixed top-0 left-0 right-0 z-[100]">
  <div class="flex justify-between items-center w-full px-4 pt-2 " id="top-header">
    <%- include('../atoms/logo.ejs') %>
    <div class="hidden md:block">
      <%- include('../atoms/nav-menu.ejs', { 
        navItems: [
          { title: 'Home', link: '/' },
          { 
            title: 'Destinations', 
            link: '/destination',
            subItems: [
              { title: 'Philippines', link: '/tours/philippines' },
              { title: 'Canada', link: '/tours/canada' },
              { title: 'Maldives', link: '/tours/maldives' }
            ]
          },
          { 
            title: 'Tours', 
            link: '/tours'
          }
        ]
      }) %>
    </div>
    <%- include('../atoms/book-now-cta-atom.ejs') %>
  </div>
  <div class="mobile-menu md:hidden mt-2"> 
    <div class="text-center border-y border-white py-[3px] toggler">
      <i class="fa fa-bars text-white text-xl mr-2" aria-hidden="true"></i> 
      <span class="text-white uppercase font-bold">Menu</span>
    
    </div>
    <div class="mt-[1px] menu-block hidden">
      <%- include('../atoms/nav-menu.ejs', { 
        navItems: [
          { title: 'Home', link: '/' },
          { 
            title: 'Destinations', 
            link: '/destination',
            subItems: [
              { title: 'Philippines', link: '/tours/philippines' },
              { title: 'Canada', link: '/tours/canada' },
              { title: 'Maldives', link: '/tours/maldives' }
            ]
          },
          { 
            title: 'Tours', 
            link: '/tours'
          }
        ]
      }) %>
    </div>
  </div>
</header>