<div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-2 transition-all duration-500">
    <%- include('../atoms/tour-card-image-atom.ejs', tourCardDatus) %>
    <div class="flex flex-col pt-10 px-12 w-full">
        <%- include('../atoms/tour-card-details-atom.ejs', tourCardDatus)  %>
        <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
            <%- include('../atoms/tour-card-stats-atom.ejs', tourCardDatus) %>
        </ul>
    </div>    
</div>