<% title = "Destinations" %>

<%- include('../components/molecules/banner.ejs', {pagename: "Destination"})%>
    <p class =" 2xl:text-7xl lg:text-7xl md:text-7xl pb-5 text-5xl text-center text-white font-bold  ">Destination</p>
</div>
<!--PACKAGES -->
<div class="px-10 md:px-[5%] pt-16 lg:px-[9%] 2xl:px-[20%] xxl:h-full sm:w-full flex flex-col justify-center items-center bg-white mb-10">
  <div class="grid md:grid-cols-3 gap-4 ">
    <% destinations.forEach((place) => { %>
      <%- include('../components/molecules/card-popular.ejs', {place}); %>
    <% }); %>
  </div>
</div> 

<!--PROMOTION & FOOTER--> 
<%- include('../partials/promotion.ejs') %>
