<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="/assets/logos/logo.png">
    <link rel="stylesheet" href="/assets/styles/style.css"> 
    <link rel="stylesheet" href="/assets/styles/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <title>Horizon Hopper</title>
</head>
<body>
    <section class=" px-[15%] pt-10 pb-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 bg-gray-100">
        <div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-5 transition-all duration-500">
            <div class="w-full h-fit relative">
                <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
                <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
                    <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex flex-col pt-10 px-12 w-full">
                <div class="mb-1 font-semibold text-gray-500">
                    <i class="fa fa-star text-emerald-700" aria-hidden="true"></i>
                8.0 Superb
                </div>
                <h3 class="pb-7 border-b">
                    <a class="text-3xl font-bold text-emerald-950 hover:text-emerald-500" href="#">National Park 2 Days Tour</a>
                </h3>
                <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            3 Days
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
                            12+
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map mr-1" aria-hidden="true"></i>
                            Los Angeles  
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-5 transition-all duration-500">
            <div class="w-full h-fit relative">
                <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
                <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
                    <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex flex-col pt-10 px-12 w-full">
                <div class="mb-1 font-semibold text-gray-500">
                    <i class="fa fa-star text-emerald-700" aria-hidden="true"></i>
                8.0 Superb
                </div>
                <h3 class="pb-7 border-b">
                    <a class="text-3xl font-bold text-emerald-950 hover:text-emerald-500" href="#">National Park 2 Days Tour</a>
                </h3>
                <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            3 Days
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
                            12+
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map mr-1" aria-hidden="true"></i>
                            Los Angeles  
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-5 transition-all duration-500">
            <div class="w-full h-fit relative">
                <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
                <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
                    <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex flex-col pt-10 px-12 w-full">
                <div class="mb-1 font-semibold text-gray-500">
                    <i class="fa fa-star text-emerald-700" aria-hidden="true"></i>
                8.0 Superb
                </div>
                <h3 class="pb-7 border-b">
                    <a class="text-3xl font-bold text-emerald-950 hover:text-emerald-500" href="#">National Park 2 Days Tour</a>
                </h3>
                <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            3 Days
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
                            12+
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map mr-1" aria-hidden="true"></i>
                            Los Angeles  
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-5 transition-all duration-500">
            <div class="w-full h-fit relative">
                <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
                <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
                    <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex flex-col pt-10 px-12 w-full">
                <div class="mb-1 font-semibold text-gray-500">
                    <i class="fa fa-star text-emerald-700" aria-hidden="true"></i>
                8.0 Superb
                </div>
                <h3 class="pb-7 border-b">
                    <a class="text-3xl font-bold text-emerald-950 hover:text-emerald-500" href="#">National Park 2 Days Tour</a>
                </h3>
                <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            3 Days
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
                            12+
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map mr-1" aria-hidden="true"></i>
                            Los Angeles  
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-5 transition-all duration-500">
            <div class="w-full h-fit relative">
                <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
                <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
                    <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex flex-col pt-10 px-12 w-full">
                <div class="mb-1 font-semibold text-gray-500">
                    <i class="fa fa-star text-emerald-700" aria-hidden="true"></i>
                8.0 Superb
                </div>
                <h3 class="pb-7 border-b">
                    <a class="text-3xl font-bold text-emerald-950 hover:text-emerald-500" href="#">National Park 2 Days Tour</a>
                </h3>
                <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            3 Days
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
                            12+
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map mr-1" aria-hidden="true"></i>
                            Los Angeles  
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="flex flex-col w-fit border max-w-[375px] shadow-lg bg-white hover:-translate-y-5 transition-all duration-500">
            <div class="w-full h-fit relative">
                <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
                <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
                    <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex flex-col pt-10 px-12 w-full">
                <div class="mb-1 font-semibold text-gray-500">
                    <i class="fa fa-star text-emerald-700" aria-hidden="true"></i>
                8.0 Superb
                </div>
                <h3 class="pb-7 border-b">
                    <a class="text-3xl font-bold text-emerald-950 hover:text-emerald-500" href="#">National Park 2 Days Tour</a>
                </h3>
                <ul class="flex flex-row gap-2 pt-6 pb-4 font-semibold text-emerald-800 justify-between">
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                            3 Days
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
                            12+
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map mr-1" aria-hidden="true"></i>
                            Los Angeles  
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        
    </section>
    
</body>
</html>