<% title = "Tours" %>

<section class="bg-gray-100">
  <%- include('../components/molecules/filter-molecule.ejs') %>  
</section>
<%- include('../partials/tour-card-section.ejs')  %>
<%- include('../partials/tour-plan.ejs') %>
<%- include('../partials/tour-details.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 5,
      loop: true,
      freeMode: true,
      loopedSlides: 5,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,

    });
    const swiper2 = new Swiper(".mySwiper2", {
      autoplay: {
        delay: 4000,
      },
      thumbs: {
        swiper: swiper,
      },
      loop: true,
    });

  const selectedItems = document.querySelectorAll(".button-group");
  const optionsContainers = document.querySelectorAll(".option-container");
  const groupTitle = document.querySelectorAll(".group-title");

  selectedItems.forEach((selected, index) => {
    selected.addEventListener("click", () => {
      optionsContainers.forEach((container, containerIndex) => {
        if(containerIndex == index) {
          container.classList.toggle("active");
          container.classList.toggle("z-50");
          container.classList.toggle("hidden");
        }
        else {
          container.classList.remove("active");
          container.classList.remove("z-50");
          container.classList.add("hidden");
        }
      })
      
    });
    
    const input = optionsContainers[index].querySelector('.search-box');
    input.addEventListener('click', (e) => {
      e.stopPropagation();
    });

    const items = optionsContainers[index].querySelectorAll('.option-item');
    let groupItem = groupTitle[index];
    items.forEach((item, index) => {
      item.addEventListener('click', () => {
        groupItem.textContent = item.textContent;
        input.value = '';
      })
    })
  });

</script>
