<div class="h-full flex justify-center items-center">
    <a href="/destination" class="flex flex-row justify-between sm:justify-center items-center bg-emerald-700 pl-6 sm:pl-8  rounded-r-full rounded-l-full p-1 gap-4 hover:bg-yellow-500 transition-bg duration-500">
        <h1 class="text-white font-bold text text-xs sm:text-base"> Book Now</h1>
        <div class="h-12 w-12 rounded-full bg-white flex justify-center items-center">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </div>
    </a>
</div>