<div class=" h-full flex flex-row items-center justify-center gap-2">
  <a href="."><img class="h-10" src="/assets/logos/logo.png" alt="logo"> </a>

  <!-- text shadow = [text-shadow:_0_10px_5px_rgb(0_0_0_/_40%)] -->
  
  <a href="/">
    <h1>
      <span class="font-baloo text-emerald-700 font-black text-2xl ">Horizon</span>
      <span class="font-montserrat text-2xl text-yellow-400">Hopper</span>
    </h1>

  </a>
  
</div>