<nav >
  <ul class="flex gap-x-1 uppercase justify-center">
    <li class="px-3 py-6 hover-state text-white font-bold">Home</li>
    <li class="px-3 py-6 hover-state packages-dropdown text-white font-bold" >
      Destinations
      <ul class="dropdown-menu flex-col font-medium">
        <li class="hover:bg-emerald-700 hover:text-white">
          <a href="">Sample Destination</a>
        </li>
        <li class="hover:bg-emerald-700 hover:text-white">
          <a href="">Sample Destination</a>
        </li>
        <li class="hover:bg-emerald-700 hover:text-white">
          <a href="">Sample Destination</a>
        </li>
      </ul>
    </li>
    <li class="px-3 py-6 hover-state packages-dropdown text-white font-bold">
      Packages
      <ul class="dropdown-menu flex-col font-medium">
        <li class="hover:bg-emerald-700 hover:text-white">
          <a href="">Sample Package</a>
        </li>
        <li class="hover:bg-emerald-700 hover:text-white">
          <a href="">Sample Package</a>
        </li>
        <li class="hover:bg-emerald-700 hover:text-white">
          <a href="">Sample Package</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>