<div class="flex flex-row gap-2 text-lg font-bold">
    <h5 class="text-emerald-400">Price:</h5>
    <del class="text-emerald-400">₱<%= offer.offerActualPrice %> </del>
    <ins class="text-emerald-400">₱<%= offer.offerDiscountedPrice %></ins>
</div>