<div class="flex flex-row gap-2 text-lg font-bold">
    <h5 class="text-yellow-500">Price:</h5>
    <del class="text-yellow-500">
        
        ₱<%= offer.pricePerPerson %> </del>

    <% const discountedPrice = offer.pricePerPerson - (offer.pricePerPerson * offer.discount/100) %>

    <ins class="text-yellow-500">₱ 
        <%= discountedPrice %>
    </ins>
</div>