<div class="w-full h-fit relative">
    <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80">
    <a class="absolute top-9 right-9 bg-black w-9 h-9 bg-opacity-20 grid place-content-center rounded-full text-white hover:cursor-pointer hover:bg-white hover:text-emerald-700 hover:bg-opacity-100 transition-all duration-500" href="#">
        <i class="fa fa-heart  w-full h-full text-sm" aria-hidden="true"></i>
    </a>
</div>