<li>
    <a href="#">
        <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
        <%= tourCardDatus.tourCardDays %>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
        <%= tourCardDatus.tourCardPax %>
    </a>
    
</li>
<li>
    <a href="#">
        <i class="fa fa-map mr-1" aria-hidden="true"></i>
        <%= tourCardDatus.tourCardDestination %>  
    </a>
</li>