<li>
    <a href="#">
        <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
        3 Days
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
        12+
    </a>
    
</li>
<li>
    <a href="#">
        <i class="fa fa-map mr-1" aria-hidden="true"></i>
        Los Angeles  
    </a>
</li>